<header class="fixed">
	<div class="top-bar">
		<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-text">Opgave #9</li>
			</ul>
		</div>
	</div>
</header>
<article>
	<section class="row">
		<h1>Opgave #9</h1>
	</section>
	<section class="row">
		<div class="large-6 columns">
			<h2>Kunde</h2>
			<div class="row">
				<div class="medium-7 columns">
					<label>Fremsøg
            <select [(ngModel)]="dropdown">
              <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.lastnames}}, {{customer.firstname}}</option>
            </select>
          </label>
				</div>
				<div class="medium-5 columns">
					<label>Handlinger<br>
            <button class="button secondary" (click)="selectCustomer(dropdown)">Vælg</button>
            <button class="button success" (click)="newCustomer()">Ny</button>
            <button class="button" (click)="saveCustomer()">Gem</button>
          </label>
				</div>
			</div>

			<app-customer-form [(customer)]="customer"></app-customer-form>
			<hr>

			<h2>Varer</h2>
			<app-article-table [articles]="articles"></app-article-table>
		</div>
		<div class="large-6 columns">
			<h2>Kvittering</h2>
			<app-reciept [customer]="customer" [articles]="articles"></app-reciept>
		</div>
	</section>
</article>
