<form name="customer">
  <div class="row">
    <div class="medium-6 columns">
      <label>Fornavn
        <input name="firstname" type="text" placeholder="Indtast fornavn" [(ngModel)]="customer.firstname">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Efternavn(e)
        <input name="lastname" type="text" placeholder="Indtast alle efternavne" [(ngModel)]="customer.lastnames">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-7 columns">
      <label>Vejnavn
        <input name="street" type="text" placeholder="Indtast vejnavn" [(ngModel)]="customer.street">
      </label>
    </div>
    <div class="medium-2 columns">
      <label>Nr.
        <input name="no" type="text" placeholder="Indtast nr." [(ngModel)]="customer.no">
      </label>
    </div>
    <div class="medium-3 columns">
      <label>Etage / Bogstav
        <input name="floor" type="text" placeholder="Indtast etage / bogstav" [(ngModel)]="customer.floorLetter">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <label>E-mail
        <input name="email" type="text" placeholder="Indtast e-mail" [(ngModel)]="customer.email">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Telefon, Hjemme
        <input name="phone_ome" type="text" placeholder="Indtast telefonnummer" [(ngModel)]="customer.phoneHome">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Arbejde
        <input name="phone_work" type="text" placeholder="Indtast telefonnummer" [(ngModel)]="customer.phoneWork">
      </label>
    </div>
  </div>
</form>
